@{
    ViewData["Title"] = "Página Principal";
}

@model WebApp.Models.ViewModels.Home.HomeIndexViewModel

<link rel="stylesheet" href="~/css/events.css">

<div class="events-page">
    <h1><strong>DESTAQUES</strong></h1>
    <div class="container">
        @foreach (var evento in Model.Eventos)
        {
            string eventAction = evento.titulo
                .Replace(" ", "")
                .Replace("ú", "u")
                .Replace("-", "");

            <div class="event" onclick="window.location.href='@Url.Action(eventAction, "Events")'">
                <h2>@evento.data_hora.ToString("dd MMM | HH:mm")</h2>
                <img src="@Url.Content(evento.imagem) " alt="@Url.Content(@evento.titulo)">
                <h3>@evento.titulo</h3>
                <p>@evento.local_evento</p>
            </div>
        }
    </div>
</div>
