@{
    ViewData["Title"] = "Página Principal";
}

<link rel="stylesheet" href="~/css/events.css">

<div class="events-page">
    <h1><strong>DESTAQUES</strong></h1>
    <div class="container">
        <div class="event" onclick="window.location.href='@Url.Action("FicaComigoEstaNoite", "Events")'">
            <h2>5 DEZ | 21:30</h2>
            <img src="~/img/FCENPoster.jpeg" alt="Fica Comigo Esta Noite">
            <h3>Fica Comigo Esta Noite</h3>
            <p>Teatro José Lúcio da Silva | Leiria</p>
        </div>

        <div class="event" onclick="window.location.href='@Url.Action("QueridoEvanHansen", "Events")'">
            <h2>7 DEZ | 21:00</h2>
            <img src="~/img/HansenPoster.jpeg" alt="Querido Evan Hansen">
            <h3>Querido Evan Hansen</h3>
            <p>Teatro Maria Matos | Lisboa</p>
        </div>

        <div class="event" onclick="window.location.href='@Url.Action("AhAmalia", "Events")'">
            <h2>17 DEZ | 14:30</h2>
            <img src="~/img/AmaliaPoster.jpeg" alt="Ah Amalia - Living Experience">
            <h3>Ah Amalia - Living Experience</h3>
            <p>8 Marvila | Lisboa</p>
        </div>

        <div class="event" onclick="window.location.href='@Url.Action("SolteiraCasadaViuvaDivorciada", "Events")'">
            <h2>18 DEZ | 21:00</h2>
            <img src="~/img/SCVDPoster.jpeg" alt="Solteira Casada Viúva Divorciada">
            <h3>Solteira Casada Viúva Divorciada</h3>
            <p>Teatro Armando Cortez | Lisboa</p>
        </div>

        <div class="event" onclick="window.location.href='@Url.Action("MorteDoCorvo", "Events")'">
            <h2>10 JAN | 14:00</h2>
            <img src="~/img/CorvoPoster.jpeg" alt="A Morte do Corvo">
            <h3>A Morte do Corvo</h3>
            <p>Hospital Militar da Estrela | Lisboa</p>
        </div>
    </div>
</div>
